
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #393939;
  font-size: 28px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.main-container{
  height: 25vh;
}


.first-text{
  padding-top: 10vh;
}


.secondary-text{
  padding-bottom: 30vh;
  padding-top: 5vh;
}

$main-button-color: #111;
$gradient-colors: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
);
$blur-radius: 5px;
$secondary-background: #222;


.main-button {
  padding: 0.5em 3em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: $main-button-color;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.1em;

  &:before {
    content: "";
    background: $gradient-colors;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur($blur-radius);
    -webkit-filter: blur($blur-radius);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-main-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $secondary-background;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}

@keyframes glowing-main-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.star {
  position: absolute;
  top: -20px;
  color: #fff;
  animation: animate 5s linear forwards;
}

.star::before {
  content: "\f005";
  font-family: FontAwesome;
  text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .star {
    font-size: 8px;
  }
}
